body {
    font-family: sans-serif;
    /*background-color: #f85f73;*/
  }
  .header {
    width:100%;
    overflow: hidden;
    margin:20px;
    padding: 10px 10px;
    text-align: center !important;
  }
  .header span{
      color:#551A8B;
      font-size: 1.5em;
      font-weight: bolder;
  }

  .box {
    text-align: center;
    padding:40px;
    margin-top:2em;
    margin-bottom:2em;
    border-radius: 1rem;
    /*background: #d8c6e4;*/
    /*box-shadow: -1px 4px 28px 0px #440a67;*/
    border:5px #551A8B solid;
  }
  .box h4 {
    color: #551A8B;
    font-weight: 500;
    text-align:center;
    margin-bottom:1.5em;
    font-weight: bolder;
  }
  .fields{
  width: 100%;
  margin: 10px 0;
  height: 55px;
  border-radius: 5px;
  display: grid;
  color:#551A8B;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
  border:#551A8B 2px solid;
  text-align:center
  }
  .fields:hover{
  color:#551A8B;
  }
  .fields:active{
    color:#551A8B;
    }
  .fields i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
  }
  
  .fields input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
  }
  
  .fields input::placeholder {
    color: #551A8B;
    font-weight: 500;
    font-weight: bold;
  }
  button{
  background:#551A8B;
  width: 100%;
  color:white;
  margin: 10px 0;
  height: 55px;
  font-weight: bolder;
  font-size: 1.8rem;
  padding: 0 0.4rem;
  border:#551A8B 2px solid;
  border-radius:5px;
  }
  button:hover{
    cursor:pointer;
  }

    